html, body {
  width: 200px;
}

.hidden {
  display: none;
}

button {
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #282828;
}

button:hover {
  background-color: #ddd;
}
